<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Test Suite" verbose="1">

    <test name="User API Tests">
        <classes>
            <class name="api.UserApiTest"/>
        </classes>
    </test>

    <test name="Post API Tests">
        <classes>
            <class name="api.PostApiTest"/>
        </classes>
    </test>

</suite>